body .buscador{
    align-items: center;
    padding-top: 10px;
}
select{
    width: 35%;
    font-size: .7em;
    margin: 0 10px;
}


h2{
    padding:10px;
    font-size: 1em;
    
}

#alerta{
    background-color: tomato;
    text-align: center;
    display: none;
    
}
main{ margin: 0 auto;
    width: 50%;
    padding: 2px;
    background-color: black;
}

.crearTarea{
    background-color: bisque;
    padding: 5px;
   
    align-items: center;
    
}



article{
    margin: 1px 0 0 0;
    display: flex; 
    justify-content:space-between;
   
}
article button{
    background-color: tomato;
}